.deli-form {
  background-color: $white;
  overflow: auto;
  position: relative;
  form {
    margin: 70px 20%;
  }
}

.deli-form__on-submit {
  background: $grey-lighter;
  display: none;
  overflow: auto;
  h2 {
    margin: 0;
    margin-bottom: 20px;
  }
}
.on-submit__success {
  margin: 70px 20%;
}

.deli-form__required-text-legend {
  @extend .row;
  margin: 0;
  margin-bottom: 20px;
  font-style: italic;
}
.deli-form__required-text {
  color: $red;
}
.deli-form__error-text {
  border: 1px solid $red;
  color: $red;
  display: none;
  height: 20px;
  margin-left: 5px;
  padding: 6px;
}

.deli-form__form-field {
  @extend .row;
  margin: 0;
  margin-bottom: 20px;
  input,
  textarea {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .h4;
    border: 1px solid $grey-light !important;
    line-height: 1.2;
    margin: 0;
    padding: 2px 5px;
    @include transition(outline .1s ease-in-out);
  }
  label {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .h4;
    margin: 0;
    padding: 2px 0;
    &:hover {
      cursor: pointer;
    }
  }
  textarea {
    height: 120px;
    overflow-y: scroll;
    resize: none;
  }
}

// selectpicker
.deli-form__form-field {
  .bootstrap-select.btn-group {
    width: 50% !important;
    .btn.btn-default {
      background: $white;
      border-color: $grey-light;
      border-radius: 0;
      color: $grey;
      font-weight: 300;
      padding: 5px 30px 5px 10px;
      text-transform: none;
      &.btn-default {
        &:hover,
        &:focus,
        &:active,
        &.active {
          background: $white;
          color: $grey-dark;
        }
        span {
          white-space: nowrap;
        }
      }
      .caret {
        @extend .glyphicon;
        @extend .glyphicon-chevron-down;
        border: none;
        color: $grey;
        margin-top: -5px;
        position: absolute;
        top: 50%; right: 25px;
        &:before,
        &:after {
          display: block;
          position: absolute;
        }
        &:before {
          top: 0;
        }
      }
    }
    .dropdown-menu {
      position: absolute;
      width: 315px;
    }
    .dropdown-menu.inner {
      position: relative;
      border: none;
      padding: 0px;
      > li > a {
        padding: 3px 10px;
      }
      .check-mark {
        display: none;
      }
    }
  }
}