@import "compass";

$black: #000;
$white: #FFF;

// Red
$red: #CC0000;
$red-light: lighten($red, 10%);
$red-dark: darken($red, 10%);

// Orange
$orange: #E35205;
$orange-light: lighten($orange, 10%);
$orange-dark: darken($orange, 10%);

// Yellow
$yellow: #ff9900;
$yellow-light: lighten($yellow, 10%);
$yellow-dark: darken($yellow, 10%);

// Green
$green: #4C8C2B;
$green-light: lighten($green, 10%);
$green-dark: darken($green, 10%);

// Teal
$teal: #008E96;
$teal-light: #00B3B4;
$teal-dark: #00535E;

// Plum
$plum: #820F71;
$plum-light: lighten($plum, 10%);
$plum-dark: darken($plum, 10%);

// Violet
$violet: #514689;
$violet-light: lighten($violet, 10%);
$violet-dark: darken($violet, 10%);

// Grey
$grey: #A2AAAC;
$grey-light: #D0D3D4;
$grey-lighter: #F4F4F4;
$grey-dark: #5B6770;
$grey-darker: #333333;

$transparent: transparent;