$janrain-sprite: url('../images/social/janrain-sprite.svg');
$janrain-list: facebook, googleplus, linkedin, mixi, pinterest, reddit, sinaweibo, tumblr, twitter, xing;

$janrain-sprite__size: 61px;
$janrain-sprite__size--sm: 31px;
$janrain-sprite__startPos: $janrain-sprite__size--sm * length($janrain-list);
$janrain-sprite__startPos--sm: 0;

$social-sprite: url('../images/social/social-sprite.svg');
$social-list: Facebook, GooglePlus, LinkedIn, Twitter, YouTube;

$social-sprite-size: 61px;
$social-sprite-size-sm: 31px;
$social-sprite-startPos: $social-sprite-size-sm * length($social-list);
$social-sprite-startPos-sm: 0;