@mixin linear-gradient($topColor, $bottomColor) {
  background-color: $bottomColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($topColor), to($bottomColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $topColor, $bottomColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $topColor, $bottomColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $topColor, $bottomColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $topColor, $bottomColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $topColor, $bottomColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$topColor}', EndColorStr='#{$bottomColor}');
}