/* line 2, ../../scss/_general.scss */
html {
  background-color: #111;
  color: #fff;
  font-family: helvetica, Arial, sans-serif;
  min-height: 100%;
}

/* line 10, ../../scss/_general.scss */
html.loaded body {
  overflow: visible;
}
/* line 13, ../../scss/_general.scss */
html.loaded img {
  opacity: 1;
}
/* line 17, ../../scss/_general.scss */
html.loaded .loaded__hidden {
  display: none;
}
/* line 20, ../../scss/_general.scss */
html.loaded .loaded__visible {
  display: block;
}
/* line 23, ../../scss/_general.scss */
html.loaded .loading-spinner {
  opacity: 0;
}

/* line 27, ../../scss/_general.scss */
.loaded__visible {
  display: none;
}

/* line 31, ../../scss/_general.scss */
body {
  height: 100%;
  overflow: hidden;
}

/* line 35, ../../scss/_general.scss */
body * {
  box-sizing: border-box;
}

/* line 39, ../../scss/_general.scss */
img {
  opacity: 0;
  transition: opacity .6s ease-in-out;
  max-width: 100%;
}

/*=======================================
=            Content Wrapper            =
=======================================*/
/* line 6, ../../scss/_layout.scss */
.content {
  position: relative;
  z-index: 2;
}

/*=====================================
=            Content Panel            =
=====================================*/
/* line 15, ../../scss/_layout.scss */
.content__panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* line 23, ../../scss/_layout.scss */
.content__panel--full {
  min-height: 100vh;
  width: 100%;
}
/* line 26, ../../scss/_layout.scss */
.content__panel--full * {
  z-index: 1;
}

/*========================================
=            Helper/Utilities            =
========================================*/
/* line 35, ../../scss/_layout.scss */
.bg-img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  z-index: 0;
}

/** Modules */
/* line 2, ../../scss/_spinner.scss */
.loading-spinner {
  align-items: center;
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

/* line 14, ../../scss/_spinner.scss */
.spinner {
  -moz-animation: spinner 1s linear 0s infinite;
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;
  border: 1vh solid #fff;
  border-right-color: transparent;
  border-bottom-width: .01vh;
  border-left-width: .4vh;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}

@-moz-keyframes spinner {
  0% {
    transform: rotate(0);
  }
  20% {
    opacity: .4;
    transform: rotate(90deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0);
  }
  20% {
    opacity: .4;
    transform: rotate(90deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  20% {
    opacity: .4;
    transform: rotate(90deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
