/*
 * ELEMENTS
 */
html {
  height: 100%;
}
body {
  min-height: 100%;
}
header {
  z-index: 9;
}
nav {

}
main {
  background: $white;
  min-height: 100%;
  overflow: auto;
}

/*
 * Type
 */
html {
  font-size: $font-size-base;
  @media (max-width: $screen-sm-max) {
    font-size: .9rem;
  }
  @media (max-width: $screen-xs-max) {
    font-size: .85rem;
  }
  @media (max-width: $screen-xs) {
    font-size: .75rem;
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.disable-transition-load * {
  -webkit-transition: none !important;
     -moz-transition: none !important;
      -ms-transition: none !important;
       -o-transition: none !important;
}