.cta-btn {
  background: transparent;
  border: 1px solid $grey-dark;
  border-radius: 3px;
  color: $grey-dark;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 30px;
  text-align: center;
  min-width: 200px;
  @include transition(background .1s ease-out);
  &:hover {
    background: $grey-darker;
    border: 1px solid $grey-darker;
    color: $white;
    text-decoration: none;
  }
  &.cta-btn--white {
    color: $white;
    border: 1px solid $white;
  }
  &.cta-btn--white-hover {
    &:hover {
      background: $white;
      color: $grey;
      border: 1px solid $white;
    }
  }
}