<div class="social-share">
  <ul>
    {{#each socialShare.links}}
      {{#if active}}
        <li>
          <a href="{{url}}"
            class="{{name}}"
            target="_blank">{{name}}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>