
.loading-spinner {
    align-items: center;
    background-color: $gray--light;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.spinner {
    @include animation(spinner 1s linear 0s infinite);
    border: 1vh solid $white;
    border-right-color: transparent;
    border-bottom-width: .01vh;
    border-left-width: .4vh;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}

@include keyframes(spinner) {
    0% {
        transform: rotate(0);
    }
    20% {
        opacity: .4;
        transform: rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}
